.light,
.tag {
    font-weight: 300;
}
.card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    align-items: center;
}
.card_media {
    aspect-ratio: 594/490;
    img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
        border-radius: 16px;
    }
}
.card_content {
    p {
        font-size: #{typo(32px)};
        margin: 16px 0 24px;
    }
    .tag {
        font-size: #{typo(18px)};
        margin: 0;
    }
}
.button {
    background-color: var(--color-primary);
    padding: 16px 8px;
    color: var(--color-black);
    border-radius: 100px;
    margin-top: 32px;
    display: inline-block;
    &:hover {
        color: var(--color-black);
        text-decoration: none;
    }
}
