{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->
<section class="hero section">
    <div class="wrapper">
        <div class="hero_media">
            <img src="assets/images/hero.jpg" alt="tasse de café" />
        </div>
        <div class="hero_content">
            <h1>
                Mon cahier
                <br />
                d’exercice
            </h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            <span class="light">Mes premiers</span>
            laboratoires
        </h2>
        <div class="cards">
            <div class="card">
                <div class="card_media"><img src="assets/images/sem01.png" alt="exercice web semaine 1" /></div>
                <div class="card_content">
                    <h3>SEM 01 - RÉVISION</h3>
                    <p>
                        <span class="light">Grid ou flexbox, la question auquelle tant</span>
                        d'étudiants perdre la tête en se la posant.
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button" href="#">VOIR LE LABORATOIRE</a>
                </div>
            </div>

            <div class="card">
                <div class="card_media"><img src="assets/images/sem02.png" alt="exercice web semaine 2" /></div>
                <div class="card_content">
                    <h3>SEM 02 - TIMTOOLS</h3>
                    <p>
                        <span class="light">Timtools, le lab, je pense</span>
                        le plus réussi
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button" href="#">VOIR LE LABORATOIRE</a>
                </div>
            </div>

            <div class="card">
                <div class="card_media"><img src="assets/images/sem03.png" alt="exercice web semaine 3" /></div>
                <div class="card_content">
                    <h3>SEM 03 - PORTFOLIO LOUIS LAJOIE</h3>
                    <p>
                        <span class="light">Louis Lajoie</span>
                        Louis Lajoie
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button" href="#">VOIR LE LABORATOIRE</a>
                </div>
            </div>

            <div class="card">
                <div class="card_media"><img src="assets/images/sem04.png" alt="exercice web semaine 4" /></div>
                <div class="card_content">
                    <h3>SEM 04 - ICÔNES ET CLASSES JS</h3>
                    <p>
                        <span class="light">oh non..</span>
                        Javacript..
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button" href="#">VOIR LE LABORATOIRE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section tp">
    <div class="wrapper">
        <h2>
            <span class="light">Mes laboratoires</span>
            réactifs
        </h2>
        <div class="cards">
            <div class="card">
                <div class="card_media"><img src="assets/images/sem07.png" alt="exercice web semaine 7" /></div>
                <div class="card_content">
                    <h3>SEM 07 - SITE RÉACTIF</h3>
                    <p>
                        <span class="light">site réactif</span>
                        pas pire, pas pire
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a class="button" href="#">VOIR LE LABORATOIRE</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer">
    <div class="wrapper">
        <h3>Contactez-moi.</h3>
        <p>Afin qu’on puisse parler de votre projet.</p>
        <div class="icones">
            <svg class="icon">
                <use href="#icon-be"></use>
            </svg>
            <svg class="icon">
                <use href="#icon-messenger"></use>
            </svg>
            <svg class="icon">
                <use href="#icon-ln"></use>
            </svg>
        </div>
    </div>
</footer>

{% include "_partials/_footer.html" %}
